In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
# import seaborn as sns
# sns.set()
# sns.set_style("white")
# sns.set_palette("GnBu_d")

# also import these "new" libraries 
# Note: you may have to download an add them to your environment (using e.g. 'conda install -c conda-forge folium')

import folium
from folium import plugins
from folium.plugins import HeatMap
from datetime import datetime #for working with times objects
from datetime import timedelta #for working with times objects
import math
import random
from pathlib import Path

import geopy
from geopy.geocoders import GoogleV3
from geopy.distance import geodesic

In [22]:
df = pd.read_csv("../boston_2016_prep_cluster_small.csv")
df["start_time"] = pd.to_datetime(df["start_time"],format="%Y-%m-%d %H:%M:%S") # FORMAT %Y-%m-%d %H:%M:%S beachte - und :
df["end_time"] = pd.to_datetime(df["end_time"],format="%Y-%m-%d %H:%M:%S")

In [23]:
df.head(1)

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,start_coordinates,end_coordinates,Distance (KM),Duration (Seconds),Speed (km/h),start_coordinates2,end_coordinates2,start_hour
0,482,2016-01-03 10:04:11,2016-01-03 13:21:51,70,74,Harvard Kennedy School at Bennett St / Eliot St,Harvard Square at Mass Ave/ Dunster,682,Customer,"(42.37199165408676, -71.12226963043213)","(42.373268, -71.118579)",0.335418,11860.0,0.101813,"(42.37199165408676, -71.12226963043213)","(42.373268, -71.118579)",10

In [ ]:
df.drop(['Unnamed: 0','start_station_id	','end_station_id','start_station_name','end_station_name','bike_id'], axis=1, inplace=True)