In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
# import seaborn as sns
# sns.set()
# sns.set_style("white")
# sns.set_palette("GnBu_d")

# also import these "new" libraries 
# Note: you may have to download an add them to your environment (using e.g. 'conda install -c conda-forge folium')

import folium
from folium import plugins
from folium.plugins import HeatMap
from datetime import datetime #for working with times objects
from datetime import timedelta #for working with times objects
import math
import random
from pathlib import Path

import geopy
from geopy.geocoders import GoogleV3
from geopy.distance import geodesic

In [2]:
# def get_date (ts):
#     return ts.date()

# def get_weekday (ts):
#     return ts.weekday()

# def get_hour (ts):
#     return ts.hour

# def get_minute (ts):
#     return ts.minute

def calc_distances(start_point,end_point):
    return geopy.distance.geodesic( start_point, end_point ).km

def calc_durations(end_time,start_time):
    return (end_time - start_time).total_seconds()

def getTrueWeekday(weekday_start,day):
    return (weekday_start == day)

In [3]:
# df = pd.read_csv("../boston_2016.csv")
df = pd.read_csv("../boston_2016_distance_duration_speed.csv")

df["start_time"] = pd.to_datetime(df["start_time"],format="%Y-%m-%d %H:%M:%S") # FORMAT %Y-%m-%d %H:%M:%S beachte - und :
df["end_time"] = pd.to_datetime(df["end_time"],format="%Y-%m-%d %H:%M:%S")

In [4]:
print(len(df))

1236203

In [5]:
print(len(df["bike_id"].unique()))

1802

In [6]:
print(len(df["start_station_name"].unique()))

276

In [7]:
print(len(df["start_station_id"].unique()))

189

In [8]:
df.head(1)

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,start_coordinates,end_coordinates,distance_km,duration_sec,speed_kmh
0,0,2016-01-01 00:08:07,2016-01-01 00:40:26,36,19,Boston Public Library - 700 Boylston St.,Buswell St. at Park Dr.,1406,Subscriber,"(42.349673, -71.077303)","(42.347241, -71.105301)",2.322721,1939.0,4.312426

In [9]:
#Daten von BlueBikes

# df_bluebikes_01 = pd.read_csv("201601-hubway-tripdata.csv")
# df_bluebikes_02 = pd.read_csv("201602-hubway-tripdata.csv")
# df_bluebikes_03 = pd.read_csv("201603-hubway-tripdata.csv")
# df_bluebikes_04 = pd.read_csv("201604-hubway-tripdata.csv")
# df_bluebikes_05 = pd.read_csv("201605-hubway-tripdata.csv")
# df_bluebikes_06 = pd.read_csv("201606-hubway-tripdata.csv")
# df_bluebikes_07 = pd.read_csv("201607-hubway-tripdata.csv")
# df_bluebikes_08 = pd.read_csv("201608-hubway-tripdata.csv")
# df_bluebikes_09 = pd.read_csv("201609-hubway-tripdata.csv")
# df_bluebikes_10 = pd.read_csv("201610-hubway-tripdata.csv")
# df_bluebikes_11 = pd.read_csv("201611-hubway-tripdata.csv")
# df_bluebikes_12 = pd.read_csv("201612-hubway-tripdata.csv")

In [10]:
#Daten von Bluebikes MeRgEd

# df_bluebikes_all = pd.concat([df_bluebikes_01, 
#                             df_bluebikes_02,
#                             df_bluebikes_03,
#                             df_bluebikes_03,
#                             df_bluebikes_04,
#                             df_bluebikes_05,
#                             df_bluebikes_06,
#                             df_bluebikes_07,
#                             df_bluebikes_08,
#                             df_bluebikes_09,
#                             df_bluebikes_10,
#                             df_bluebikes_11,
#                             df_bluebikes_12], axis=0)

In [11]:
# print(len(df_bluebikes_all["start station id"].unique()))

In [12]:
#Unique Cords exportiert

# df_bluebikes_all.drop(['tripduration','starttime','stoptime','end station id', 'end station name', 'end station latitude','end station longitude', 'bikeid', 'usertype', 'birth year','gender'], axis=1, inplace=True)
# df_bluebikes_all.sort_values(["start station id"],axis=0, ascending=True,inplace=True,na_position='first')
# df_bluebikes_all = df_bluebikes_all.drop_duplicates(subset=['start station id'])
# filepath = Path('C:/Users/rfrei/Desktop/all_station_id.csv')
# filepath.parent.mkdir(parents=True, exist_ok=True)
# df_bluebikes_all.to_csv(filepath)

In [13]:
#BlueBikes Station_ID einlesen

# all_station_id = pd.read_csv("all_station_id.csv")

In [14]:
#ID's der einzelnen Stations werden als Float - Platzhalter den jeweiligen Routen hinzugefügt, damit
#diese dann anschließend mit 'Lat' und 'Long' Coords ersetzt werden können
df["start_lat"] = pd.to_numeric(df["start_station_id"], downcast="float")
df["start_long"] = pd.to_numeric(df["start_station_id"], downcast="float")
df["end_lat"] = pd.to_numeric(df["end_station_id"], downcast="float")
df["end_long"] = pd.to_numeric(df["end_station_id"], downcast="float")

In [15]:
#Hier werden die Float - Platzhalter dann mit den jeweiligen Cords ersetzt

In [16]:
df['start_lat'] = df['start_lat'].replace([1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,19,20,21,22,23,24,25,26,27,29,30,31,32,33,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,84,85,87,88,89,90,91,92,93,94,95,96,97,98,99,100,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,124,125,126,128,129,130,131,133,134,135,136,137,138,139,140,141,142,143,145,146,149,150,151,152,153,158,159,160,161,162,163,167,169,170,171,173,174,175,176,177,178,179,180,183,184,185,186,189,190,192,193,194,195,196,197,199,200,201,202,203,204,205,207,208,209,210,211,212,213,214,215,216,217,218,219],[42.387151,42.340021,42.345392,42.341814,42.361174,42.35328743453294,42.353334,42.351246,42.350406,42.338629,42.335911,42.336437,42.337171,42.361667,42.34807412317439,42.365064,42.347241,42.35977,42.345959,42.352175,42.35892,42.351205,42.341332,42.341522,42.331184,42.363732,42.334073,42.348833,42.34519428944095,42.348706,42.355402,42.349673,42.357402,42.366222,42.33849279283789,42.363871,42.352261,42.352033,42.357143,42.360613,42.344706,42.343864,42.362811,42.356755,42.351146,42.350989,42.3348756,42.34872432400896,42.350851,42.354979,42.347265,42.328654,42.340799,42.355596,42.351356,42.360624982690496,42.348762,42.344023,42.3511,42.3475,42.348607,42.3581,42.36507,42.341598,42.37199165408676,42.383405,42.362613,42.373231,42.373268,42.36346469304347,42.366426,42.386844,42.379637,42.37842,42.3619622,42.352409,42.339335,42.366981,42.378338,42.366621,42.374035,42.379011,42.370677,42.366277,42.3139036,42.320494,42.375603,42.372969,42.373379,42.36919031768079,42.371848,42.385582,42.396969,42.400877,42.346563,42.380287,42.357218503176526,42.325333,42.3625,42.377945,42.36588481543564,42.376369,42.40449,42.39082,42.330716,42.402763,42.387995,42.370803,42.366095,42.397828,42.335741,42.356052,42.335693,42.345733,42.309054,42.320998,42.315692,42.320561,42.377022,42.31756858003556,42.322701,42.310579,42.350413,42.344827,42.344796,42.398365,42.326599,42.361589,42.388966,42.36356015842989,42.396105,42.369885,42.392766,42.336448,42.363796,42.344137,42.358155,42.345901,42.3601,42.3601,42.32797270205962,42.337596,42.3391085,42.309796,42.344792,42.317642,42.378965,42.303469,42.37408991426522,42.310599,42.34900494405213,42.34894857235593,42.38674802045056,42.36264779118595,42.35957320109044,42.35560121327927,42.37478628706384,42.39558845716709,42.35775309465199,42.36544486137399,42.3482032222746,42.3624278429124,42.36559770612416,42.354686,42.33289074055233,42.38614141163957,42.3720597013741,42.31787329345602,42.321678,42.31884382360106,42.33282815812448,42.316873,42.308035,42.309566,42.324069,42.30791912678712,42.35480179069945,42.35057,42.37980321246644,42.38337841883669,42.36489045541549,42.3688385713652,42.369562869377,42.37536686015489,42.37078454600501,42.38244736415864,42.38673178529929,42.351586001198456,42.37430131617823])

In [17]:
df['start_long'] = df['start_long'].replace([1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,19,20,21,22,23,24,25,26,27,29,30,31,32,33,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,84,85,87,88,89,90,91,92,93,94,95,96,97,98,99,100,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,124,125,126,128,129,130,131,133,134,135,136,137,138,139,140,141,142,143,145,146,149,150,151,152,153,158,159,160,161,162,163,167,169,170,171,173,174,175,176,177,178,179,180,183,184,185,186,189,190,192,193,194,195,196,197,199,200,201,202,203,204,205,207,208,209,210,211,212,213,214,215,216,217,218,219],[-71.075978,-71.100812,-71.069616,-71.090179,-71.065142,-71.04438900947571,-71.137313,-71.115639,-71.108279,-71.1065,-71.088496,-71.073089,-71.102797,-71.13802,-71.07657015323639,-71.119233,-71.105301,-71.051601,-71.082578,-71.055547,-71.057629,-71.043983,-71.076847,-71.068922,-71.095171,-71.124565,-71.105221,-71.041747,-71.1016970872879,-71.097009,-71.058087,-71.077303,-71.147782,-71.059914,-71.07401937246323,-71.050877,-71.123831,-71.070627,-71.050699,-71.057452,-71.097515,-71.085918,-71.056067,-71.055407,-71.066289,-71.073644,-71.0790969,-71.08583986759186,-71.089886,-71.063348,-71.088088,-71.084198,-71.081572,-71.07278,-71.059367,-71.0708999633789,-71.082383,-71.057054,-71.0496,-71.0441,-71.13401,-71.093198,-71.1031,-71.123338,-71.12226963043213,-71.107593,-71.084105,-71.120886,-71.118579,-71.10057324171066,-71.105495,-71.09812,-71.095319,-71.105668,-71.0920526,-71.062679,-71.13493,-71.076472,-71.048927,-71.114214,-71.101427,-71.119945,-71.076529,-71.09169,-71.0405121,-71.051122,-71.064608,-71.094445,-71.111075,-71.11714124679565,-71.060292,-71.113341,-71.123024,-71.116772,-71.128374,-71.125107,-71.1138716340065,-71.075354,-71.08822,-71.116865,-71.06454849243164,-71.114025,-71.123413,-71.10942,-71.057044,-71.126908,-71.119084,-71.104412,-71.086388,-71.130516,-71.03877,-71.069849,-71.045859,-71.100694,-71.11543,-71.110833,-71.098634,-71.06198,-71.056605,-71.06403708501603,-71.099533,-71.107341,-71.07655,-71.028664,-71.031614,-71.107818,-71.066498,-71.107437,-71.132788,-71.08216792345047,-71.139459,-71.069957,-71.129042,-71.023739,-71.129164,-71.052608,-71.052163,-71.063187,-71.0589,-71.0589,-71.11089706420898,-71.096391,-71.0514432,-71.092225,-71.044024,-71.056664,-71.068607,-71.085347,-71.06905996799469,-71.053927,-71.1604106426239,-71.15027189254761,-71.11901879310608,-71.10006093978882,-71.10129475593567,-71.10394477844238,-71.13320231437683,-71.14260613918304,-71.10393404960632,-71.08277142047882,-71.0376513004303,-71.08495473861694,-71.06424808502197,-71.053292,-71.11658334732056,-71.07828140258789,-71.07202649116516,-71.08243077993393,-71.091822,-71.06975734233856,-71.08126938343048,-71.091955,-71.081159,-71.072863,-71.083162,-71.06502056121826,-71.15025043487549,-71.166491,-71.02744817733765,-71.01612031481636,-71.0350424052376,-71.03976666949166,-71.03942692279814,-71.03135883808136,-71.04426160454749,-71.0302323102951,-71.00621223455164,-71.04569256305693,-71.03808671246952])

In [18]:
df['end_lat'] = df['end_lat'].replace([1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,19,20,21,22,23,24,25,26,27,29,30,31,32,33,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,84,85,87,88,89,90,91,92,93,94,95,96,97,98,99,100,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,124,125,126,128,129,130,131,133,134,135,136,137,138,139,140,141,142,143,145,146,149,150,151,152,153,158,159,160,161,162,163,167,169,170,171,173,174,175,176,177,178,179,180,183,184,185,186,189,190,192,193,194,195,196,197,199,200,201,202,203,204,205,207,208,209,210,211,212,213,214,215,216,217,218,219],[42.387151,42.340021,42.345392,42.341814,42.361174,42.35328743453294,42.353334,42.351246,42.350406,42.338629,42.335911,42.336437,42.337171,42.361667,42.34807412317439,42.365064,42.347241,42.35977,42.345959,42.352175,42.35892,42.351205,42.341332,42.341522,42.331184,42.363732,42.334073,42.348833,42.34519428944095,42.348706,42.355402,42.349673,42.357402,42.366222,42.33849279283789,42.363871,42.352261,42.352033,42.357143,42.360613,42.344706,42.343864,42.362811,42.356755,42.351146,42.350989,42.3348756,42.34872432400896,42.350851,42.354979,42.347265,42.328654,42.340799,42.355596,42.351356,42.360624982690496,42.348762,42.344023,42.3511,42.3475,42.348607,42.3581,42.36507,42.341598,42.37199165408676,42.383405,42.362613,42.373231,42.373268,42.36346469304347,42.366426,42.386844,42.379637,42.37842,42.3619622,42.352409,42.339335,42.366981,42.378338,42.366621,42.374035,42.379011,42.370677,42.366277,42.3139036,42.320494,42.375603,42.372969,42.373379,42.36919031768079,42.371848,42.385582,42.396969,42.400877,42.346563,42.380287,42.357218503176526,42.325333,42.3625,42.377945,42.36588481543564,42.376369,42.40449,42.39082,42.330716,42.402763,42.387995,42.370803,42.366095,42.397828,42.335741,42.356052,42.335693,42.345733,42.309054,42.320998,42.315692,42.320561,42.377022,42.31756858003556,42.322701,42.310579,42.350413,42.344827,42.344796,42.398365,42.326599,42.361589,42.388966,42.36356015842989,42.396105,42.369885,42.392766,42.336448,42.363796,42.344137,42.358155,42.345901,42.3601,42.3601,42.32797270205962,42.337596,42.3391085,42.309796,42.344792,42.317642,42.378965,42.303469,42.37408991426522,42.310599,42.34900494405213,42.34894857235593,42.38674802045056,42.36264779118595,42.35957320109044,42.35560121327927,42.37478628706384,42.39558845716709,42.35775309465199,42.36544486137399,42.3482032222746,42.3624278429124,42.36559770612416,42.354686,42.33289074055233,42.38614141163957,42.3720597013741,42.31787329345602,42.321678,42.31884382360106,42.33282815812448,42.316873,42.308035,42.309566,42.324069,42.30791912678712,42.35480179069945,42.35057,42.37980321246644,42.38337841883669,42.36489045541549,42.3688385713652,42.369562869377,42.37536686015489,42.37078454600501,42.38244736415864,42.38673178529929,42.351586001198456,42.37430131617823])

In [19]:
df['end_long'] = df['end_long'].replace([1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,19,20,21,22,23,24,25,26,27,29,30,31,32,33,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,84,85,87,88,89,90,91,92,93,94,95,96,97,98,99,100,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,124,125,126,128,129,130,131,133,134,135,136,137,138,139,140,141,142,143,145,146,149,150,151,152,153,158,159,160,161,162,163,167,169,170,171,173,174,175,176,177,178,179,180,183,184,185,186,189,190,192,193,194,195,196,197,199,200,201,202,203,204,205,207,208,209,210,211,212,213,214,215,216,217,218,219],[-71.075978,-71.100812,-71.069616,-71.090179,-71.065142,-71.04438900947571,-71.137313,-71.115639,-71.108279,-71.1065,-71.088496,-71.073089,-71.102797,-71.13802,-71.07657015323639,-71.119233,-71.105301,-71.051601,-71.082578,-71.055547,-71.057629,-71.043983,-71.076847,-71.068922,-71.095171,-71.124565,-71.105221,-71.041747,-71.1016970872879,-71.097009,-71.058087,-71.077303,-71.147782,-71.059914,-71.07401937246323,-71.050877,-71.123831,-71.070627,-71.050699,-71.057452,-71.097515,-71.085918,-71.056067,-71.055407,-71.066289,-71.073644,-71.0790969,-71.08583986759186,-71.089886,-71.063348,-71.088088,-71.084198,-71.081572,-71.07278,-71.059367,-71.0708999633789,-71.082383,-71.057054,-71.0496,-71.0441,-71.13401,-71.093198,-71.1031,-71.123338,-71.12226963043213,-71.107593,-71.084105,-71.120886,-71.118579,-71.10057324171066,-71.105495,-71.09812,-71.095319,-71.105668,-71.0920526,-71.062679,-71.13493,-71.076472,-71.048927,-71.114214,-71.101427,-71.119945,-71.076529,-71.09169,-71.0405121,-71.051122,-71.064608,-71.094445,-71.111075,-71.11714124679565,-71.060292,-71.113341,-71.123024,-71.116772,-71.128374,-71.125107,-71.1138716340065,-71.075354,-71.08822,-71.116865,-71.06454849243164,-71.114025,-71.123413,-71.10942,-71.057044,-71.126908,-71.119084,-71.104412,-71.086388,-71.130516,-71.03877,-71.069849,-71.045859,-71.100694,-71.11543,-71.110833,-71.098634,-71.06198,-71.056605,-71.06403708501603,-71.099533,-71.107341,-71.07655,-71.028664,-71.031614,-71.107818,-71.066498,-71.107437,-71.132788,-71.08216792345047,-71.139459,-71.069957,-71.129042,-71.023739,-71.129164,-71.052608,-71.052163,-71.063187,-71.0589,-71.0589,-71.11089706420898,-71.096391,-71.0514432,-71.092225,-71.044024,-71.056664,-71.068607,-71.085347,-71.06905996799469,-71.053927,-71.1604106426239,-71.15027189254761,-71.11901879310608,-71.10006093978882,-71.10129475593567,-71.10394477844238,-71.13320231437683,-71.14260613918304,-71.10393404960632,-71.08277142047882,-71.0376513004303,-71.08495473861694,-71.06424808502197,-71.053292,-71.11658334732056,-71.07828140258789,-71.07202649116516,-71.08243077993393,-71.091822,-71.06975734233856,-71.08126938343048,-71.091955,-71.081159,-71.072863,-71.083162,-71.06502056121826,-71.15025043487549,-71.166491,-71.02744817733765,-71.01612031481636,-71.0350424052376,-71.03976666949166,-71.03942692279814,-71.03135883808136,-71.04426160454749,-71.0302323102951,-71.00621223455164,-71.04569256305693,-71.03808671246952])

In [20]:
#Anschließend werden aus 'lat' und 'long' die Coords gebildet

In [21]:
df["start_coordinates"] = list(zip(df["start_lat"],df["start_long"]))

In [22]:
df["end_coordinates"] = list(zip(df["end_lat"],df["end_long"]))

In [23]:
df.drop(['start_lat','end_lat','start_long','end_long'], axis=1, inplace=True)

In [24]:
# calculating distance, duration and speed
# df['Distance (KM)'] = df.apply(lambda row: calc_distances(row.start_coordinates, row.end_coordinates), axis=1)
# df["Duration (Seconds)"] = df.apply(lambda row: calc_durations(row.end_time,row.start_time), axis=1)
# df['Distance (KM)'] = df.apply(lambda row: calc_distances(row.start_coordinates, row.end_coordinates), axis=1)
# df["Speed (km/h)"] = (df["Distance (KM)"]/(df["Duration (Seconds)"]/3600))
# df.sort_values(["Speed (km/h)"],axis=0, ascending=False,inplace=True,na_position='first')

In [25]:
# df.drop(["Unnamed: 0"], axis=1, inplace=True)
# # Drop Trips with the 8D OPS stations
# df.drop([598580], axis=0, inplace=True)
# df.drop([598729], axis=0, inplace=True)
# df.drop([1072609], axis=0, inplace=True)
# #########################################

# # Löschen alle die schneller als 30km/h sind
# df.drop([88647], axis=0, inplace=True)
# df.drop([88649], axis=0, inplace=True)
# df.drop([17997], axis=0, inplace=True)
# df.drop([89416], axis=0, inplace=True)
# df.drop([824312], axis=0, inplace=True)
# df.drop([1143845], axis=0, inplace=True)
# #########################################

# # Löschen alle die speed < 0 haben
# df.drop([1114233], axis=0, inplace=True)
# df.drop([1114235], axis=0, inplace=True)
# df.drop([1114234], axis=0, inplace=True)
# #########################################

# # # Löscht alle Roundtrips - machen wa doch nicht 
# # #df = df.drop(df[df['Distance (KM)'] == 0].index)
# # # Löscht alle Trips die länger als 8Std sind
# # df = df.drop(df[df['Duration (Seconds)'] > 28800].index)
# # # Löscht alle Trips die kürzer als 1min sind - gibt keine die kürzer als 61sek sind :)
# # #df = df.drop(df[df['Duration (Seconds)'] <= 60].index)

In [26]:
len(df)

1236203

In [27]:
df = df.drop(df[df['start_station_id'] == 158].index)
df = df.drop(df[df['start_station_id'] == 153].index)
df = df.drop(df[df['end_station_id'] == 158].index)
df = df.drop(df[df['end_station_id'] == 153].index)

# df_stations = df_stations.drop(df_stations[df_stations['start_station_id'] == 158].index)
# df_stations = df_stations.drop(df_stations[df_stations['start_station_id'] == 153].index)

print("df: ",len(df))

df:  1236200

We have decided that any average speed above 30 km/h can not be achieved with a rental bike in city traffic, therefore we are deleting those:

In [28]:
df_customer = df.drop(df[df['user_type'] == "Subscriber"].index)
df_subscriber = df.drop(df[df['user_type'] == "Customer"].index)

In [29]:
len(df_customer)

252261

In [30]:
print("customers:", (len(df_customer)/len(df))*100,'%')

customers: 20.406164051124414 %

In [31]:
print("subscribers:", (len(df_subscriber)/len(df))*100,'%')

subscribers: 79.5938359488756 %

In [32]:
df = df.drop(df[df['speed_kmh'] > 30].index)
len(df)

1236192

Trips with an average negative speed also don't make sense - we are deleting them:

In [33]:
df = df.drop(df[df['speed_kmh'] < 0].index)
len(df)

1236189

In [34]:
df_45 = df.drop(df[df['duration_sec'] > 2700].index)
df_45_plus = df.drop(df[df['duration_sec'] <= 2700].index)
df_120 = df.drop(df[df['duration_sec'] > 7200].index)
df_28800 = df.drop(df[df['duration_sec'] > 28800].index)

In [35]:
print("df_45:", (len(df_45)/len(df))*100,'%')

df_45: 96.97869824112657 %

In [36]:
print("df_45_plus:", (len(df_45_plus)/len(df))*100,'%')

df_45_plus: 3.021301758873441 %

In [37]:
print("df_120:", (len(df_120)/len(df))*100,'%')

df_120: 99.30212936694956 %

Because of the pricing structure which makes trips over 2 hours expensive for the user and the fact that only 0.7% of the trips are longer than 2 hours, we are deleting all trips that are longer than 2 hours

In [38]:
df = df.drop(df[df['duration_sec'] > 7200].index)
len(df)

1227562

In [39]:
average_speed = round(df[df["speed_kmh"] != 0]["speed_kmh"].mean(),4)
print(average_speed)

9.8109

In [40]:
average_distance = round(df[df["distance_km"] != 0]["distance_km"].mean(),4)
print(average_distance)

1.9229

In [41]:
average_duration = round(df[df["duration_sec"] != 0]["duration_sec"].mean(),4)
average_duration = round(average_duration/60,4)
print(average_duration  ,"min")

13.922 min

In [42]:
# start distance vom city center
df["start_distance_center"] = pd.to_numeric(df["start_station_id"], downcast="float")
df['start_distance_center'] = df['start_distance_center'].replace([1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,19,20,21,22,23,24,25,26,27,29,30,31,32,33,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,84,85,87,88,89,90,91,92,93,94,95,96,97,98,99,100,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,124,125,126,128,129,130,131,133,134,135,136,137,138,139,140,141,142,143,145,146,149,150,151,152,153,158,159,160,161,162,163,167,169,170,171,173,174,175,176,177,178,179,180,183,184,185,186,189,190,192,193,194,195,196,197,199,200,201,202,203,204,205,207,208,209,210,211,212,213,214,215,216,217,218,219],[3.319274536957586,4.1925465912009425,1.9236113959222407,3.36158328176426,0.5951027715279874,1.3718584965133345,6.582064660303654,4.8572719961183815,4.289507334305973,4.672127506031023,3.704521116556498,2.939187826624499,4.5047893609953515,6.594248754784122,2.05442487758448,5.071361349287967,4.1632693962289435,0.5312852924906886,2.584610624890342,0.9367073810973997,0.16823530294678202,1.5419749489568133,2.627668711831343,2.283235338944895,4.463751921350105,5.4966454730103536,4.8686322934192905,1.8561230946642178,3.9778788149267386,3.4675472072013167,0.5563918225967195,1.9884360834105614,7.404767049772989,0.6646853696629188,2.7697110629371102,0.7009346465441912,5.4992924676229915,1.3962653004526964,0.7019381593422324,0.04985126119504434,3.6941963361830634,2.9448723364401976,0.31024710411954176,0.45850275858499456,1.235437515131699,1.6607631112163037,3.327066457690298,2.6361272481931675,2.8341234567623865,0.7474673246460856,2.8776160031617666,4.135994177841228,2.9189569924379533,1.330515604450698,1.0121268970103436,1.063646343348046,2.390088204279554,1.8219567139232307,1.2440273507935085,1.834839703304569,6.39883838866267,2.911714632904851,3.751808234761259,5.775418757472539,5.448849685699467,4.818218679270047,2.165064082985522,5.37295327618513,5.191087345939687,3.524196824582678,3.969830669477492,4.421018814492567,3.7435700488069075,4.407255602456548,2.8112241743213238,0.9690594603544959,6.7577918281195615,1.6882543553085483,2.126786382766547,4.682530676682679,3.884782952864341,5.505452396854765,1.9058418303470508,2.8514318606477227,5.363061914723275,4.469909333674339,1.7734101302355052,3.3109855270145805,4.60379869888554,4.969119695561541,1.284539907307756,5.347986877389787,6.721373836714284,6.606000145638279,5.999358230914682,5.952773058601211,4.617206162638111,4.150764756860341,2.5009863370111476,5.225917344381738,0.8133295096597801,4.944220388952593,7.280173724221451,5.417699535449694,3.299381184722451,7.371851218788853,5.891295376949093,3.9942993787092975,2.422932572722438,7.276716781871105,3.1650761615519447,1.0902259187118508,2.921959349592853,3.8776715425698223,7.412938526915765,6.1747730372337974,5.99101970110232,4.438653167349732,1.8487548518814403,4.784870624723547,5.409646388332889,6.868777847912298,1.8897003913912853,2.9724234322318175,2.780590018695162,5.883335218421322,3.8206175910825833,4.075425886217481,6.929082161440743,2.022102353251452,7.793472541988049,1.4419030408538378,6.867309184295081,3.8795052054058665,5.875156807588726,1.8612874660996686,0.5416336293667842,1.6675759805536159,0.08236985594742767,0.08236985594742767,5.655827728382,4.053746489787602,2.426963138965921,6.290415600618327,2.081901268632164,4.751971168122593,2.238845143321019,6.714847876747223,1.77204683484134,5.543175689003397,8.532755562112904,7.708725612094792,5.815855498949218,3.4745472901506314,3.5685884445186513,3.823314939632896,6.397737207804816,7.989504488929313,3.7963545181645038,2.1165058229399905,2.155731861858681,2.2324762885417417,0.773056364637191,0.7444873610690533,5.714299238746588,3.3109013946074373,1.7352154808562676,5.136335924528769,5.126653492409666,4.717914784795355,3.614695108631244,5.587662338110994,6.123146177842336,5.779237460888748,4.538485667572326,5.859425095169567,7.6262278925067095,9.005603974832427,3.312092507480438,4.2899317716343255,1.9549543923839896,1.7693115509782562,1.8364022343498916,2.7519062763076314,1.6146767789784822,3.349642740340357,5.1707964140593194,1.4098358672329185,2.2515126294199335])

In [43]:
# end distance vom city center
df["end_distance_center"] = pd.to_numeric(df["end_station_id"], downcast="float")
df['end_distance_center'] = df['end_distance_center'].replace([1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,19,20,21,22,23,24,25,26,27,29,30,31,32,33,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,84,85,87,88,89,90,91,92,93,94,95,96,97,98,99,100,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,124,125,126,128,129,130,131,133,134,135,136,137,138,139,140,141,142,143,145,146,149,150,151,152,153,158,159,160,161,162,163,167,169,170,171,173,174,175,176,177,178,179,180,183,184,185,186,189,190,192,193,194,195,196,197,199,200,201,202,203,204,205,207,208,209,210,211,212,213,214,215,216,217,218,219],[3.319274536957586,4.1925465912009425,1.9236113959222407,3.36158328176426,0.5951027715279874,1.3718584965133345,6.582064660303654,4.8572719961183815,4.289507334305973,4.672127506031023,3.704521116556498,2.939187826624499,4.5047893609953515,6.594248754784122,2.05442487758448,5.071361349287967,4.1632693962289435,0.5312852924906886,2.584610624890342,0.9367073810973997,0.16823530294678202,1.5419749489568133,2.627668711831343,2.283235338944895,4.463751921350105,5.4966454730103536,4.8686322934192905,1.8561230946642178,3.9778788149267386,3.4675472072013167,0.5563918225967195,1.9884360834105614,7.404767049772989,0.6646853696629188,2.7697110629371102,0.7009346465441912,5.4992924676229915,1.3962653004526964,0.7019381593422324,0.04985126119504434,3.6941963361830634,2.9448723364401976,0.31024710411954176,0.45850275858499456,1.235437515131699,1.6607631112163037,3.327066457690298,2.6361272481931675,2.8341234567623865,0.7474673246460856,2.8776160031617666,4.135994177841228,2.9189569924379533,1.330515604450698,1.0121268970103436,1.063646343348046,2.390088204279554,1.8219567139232307,1.2440273507935085,1.834839703304569,6.39883838866267,2.911714632904851,3.751808234761259,5.775418757472539,5.448849685699467,4.818218679270047,2.165064082985522,5.37295327618513,5.191087345939687,3.524196824582678,3.969830669477492,4.421018814492567,3.7435700488069075,4.407255602456548,2.8112241743213238,0.9690594603544959,6.7577918281195615,1.6882543553085483,2.126786382766547,4.682530676682679,3.884782952864341,5.505452396854765,1.9058418303470508,2.8514318606477227,5.363061914723275,4.469909333674339,1.7734101302355052,3.3109855270145805,4.60379869888554,4.969119695561541,1.284539907307756,5.347986877389787,6.721373836714284,6.606000145638279,5.999358230914682,5.952773058601211,4.617206162638111,4.150764756860341,2.5009863370111476,5.225917344381738,0.8133295096597801,4.944220388952593,7.280173724221451,5.417699535449694,3.299381184722451,7.371851218788853,5.891295376949093,3.9942993787092975,2.422932572722438,7.276716781871105,3.1650761615519447,1.0902259187118508,2.921959349592853,3.8776715425698223,7.412938526915765,6.1747730372337974,5.99101970110232,4.438653167349732,1.8487548518814403,4.784870624723547,5.409646388332889,6.868777847912298,1.8897003913912853,2.9724234322318175,2.780590018695162,5.883335218421322,3.8206175910825833,4.075425886217481,6.929082161440743,2.022102353251452,7.793472541988049,1.4419030408538378,6.867309184295081,3.8795052054058665,5.875156807588726,1.8612874660996686,0.5416336293667842,1.6675759805536159,0.08236985594742767,0.08236985594742767,5.655827728382,4.053746489787602,2.426963138965921,6.290415600618327,2.081901268632164,4.751971168122593,2.238845143321019,6.714847876747223,1.77204683484134,5.543175689003397,8.532755562112904,7.708725612094792,5.815855498949218,3.4745472901506314,3.5685884445186513,3.823314939632896,6.397737207804816,7.989504488929313,3.7963545181645038,2.1165058229399905,2.155731861858681,2.2324762885417417,0.773056364637191,0.7444873610690533,5.714299238746588,3.3109013946074373,1.7352154808562676,5.136335924528769,5.126653492409666,4.717914784795355,3.614695108631244,5.587662338110994,6.123146177842336,5.779237460888748,4.538485667572326,5.859425095169567,7.6262278925067095,9.005603974832427,3.312092507480438,4.2899317716343255,1.9549543923839896,1.7693115509782562,1.8364022343498916,2.7519062763076314,1.6146767789784822,3.349642740340357,5.1707964140593194,1.4098358672329185,2.2515126294199335])

In [44]:
# df.sort_values(['Duration (Seconds)'],axis=0, ascending=False,inplace=True,na_position='first')

In [45]:
average_speed = round(df[df["speed_kmh"] != 0]["speed_kmh"].mean(),4)
print(average_speed)

9.8109

In [46]:
average_distance = round(df[df["distance_km"] != 0]["distance_km"].mean(),4)
print(average_distance)

1.9229

In [47]:
average_duration = round(df[df["duration_sec"] != 0]["duration_sec"].mean(),4)
average_duration = round(average_duration/60,4)
print(average_duration  ,"min")

13.922 min

In [48]:
df.sort_index(inplace=True)
df.head(20)

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,start_coordinates,end_coordinates,distance_km,duration_sec,speed_kmh,start_distance_center,end_distance_center
0,0,2016-01-01 00:08:07,2016-01-01 00:40:26,36,19,Boston Public Library - 700 Boylston St.,Buswell St. at Park Dr.,1406,Subscriber,"(42.349673, -71.077303)","(42.347241, -71.105301)",2.322721,1939.0,4.312426,1.988436,4.163269
1,1,2016-01-01 00:08:19,2016-01-01 00:40:27,36,19,Boston Public Library - 700 Boylston St.,Buswell St. at Park Dr.,1121,Subscriber,"(42.349673, -71.077303)","(42.347241, -71.105301)",2.322721,1928.0,4.337030,1.988436,4.163269
2,2,2016-01-01 00:10:15,2016-01-01 00:40:29,36,19,Boston Public Library - 700 Boylston St.,Buswell St. at Park Dr.,474,Subscriber,"(42.349673, -71.077303)","(42.347241, -71.105301)",2.322721,1814.0,4.609589,1.988436,4.163269
3,3,2016-01-01 00:10:22,2016-01-01 00:40:11,36,19,Boston Public Library - 700 Boylston St.,Buswell St. at Park Dr.,1504,Subscriber,"(42.349673, -71.077303)","(42.347241, -71.105301)",2.322721,1789.0,4.674004,1.988436,4.163269
4,4,2016-01-01 00:15:36,2016-01-01 00:31:17,36,67,Boston Public Library - 700 Boylston St.,MIT at Mass Ave / Amherst St,913,Customer,"(42.349673, -71.077303)","(42.3581, -71.093198)",1.609739,941.0,6.158407,1.988436,2.911715
5,5,2016-01-01 00:17:15,2016-01-01 00:22:39,110,88,Harvard University Gund Hall at Quincy St / Ki...,Inman Square at Vellucci Plaza / Hampshire St,620,Subscriber,"(42.376369, -71.114025)","(42.374035, -71.101427)",1.069500,324.0,11.883335,4.944220,3.884783
6,6,2016-01-01 00:25:13,2016-01-01 00:43:06,107,176,Ames St at Main St,Lesley University,204,Subscriber,"(42.3625, -71.08822)","(42.38674802045056, -71.11901879310608)",3.699947,1073.0,12.413616,2.500986,5.815855
7,7,2016-01-01 00:25:24,2016-01-01 00:32:57,141,90,Kendall Street,Lechmere Station at Cambridge St / First St,750,Subscriber,"(42.36356015842989, -71.08216792345047)","(42.370677, -71.076529)",0.916903,453.0,7.286646,2.022102,1.905842
8,8,2016-01-01 00:45:02,2016-01-01 00:49:47,178,80,MIT Pacific St at Purrington St,MIT Stata Center at Vassar St / Main St,909,Subscriber,"(42.35957320109044, -71.10129475593567)","(42.3619622, -71.0920526)",0.806300,285.0,10.184845,3.568588,2.811224
9,9,2016-01-01 00:47:48,2016-01-01 00:51:34,68,178,Central Square at Mass Ave / Essex St,MIT Pacific St at Purrington St,813,Subscriber,"(42.36507, -71.1031)","(42.35957320109044, -71.10129475593567)",0.628436,226.0,10.010481,3.751808,3.568588
10,10,2016-01-01 00:54:00,2016-01-01 01:00:47,72,178,One Broadway / Kendall Sq at Main St / 3rd St,MIT Pacific St at Purrington St,1281,Subscriber,"(42.362613, -71.084105)","(42.35957320109044, -71.10129475593567)",1.455805,407.0,12.876895,2.165064,3.568588
11,11,2016-01-01 00:58:34,2016-01-01 01:01:32,68,177,Central Square at Mass Ave / Essex St,University Park,661,Subscriber,"(42.36507, -71.1031)","(42.36264779118595, -71.10006093978882)",0.367516,178.0,7.432902,3.751808,3.474547
12,12,2016-01-01 00:58:53,2016-01-01 01:01:24,68,177,Central Square at Mass Ave / Essex St,University Park,451,Subscriber,"(42.36507, -71.1031)","(42.36264779118595, -71.10006093978882)",0.367516,151.0,8.761964,3.751808,3.474547
13,13,2016-01-01 01:10:14,2016-01-01 01:17:53,68,88,Central Square at Mass Ave / Essex St,Inman Square at Vellucci Plaza / Hampshire St,1471,Customer,"(42.36507, -71.1031)","(42.374035, -71.101427)",1.005326,459.0,7.884909,3.751808,3.884783
14,14,2016-01-01 01:17:49,2016-01-01 01:32:37,163,121,Lawn on D,West Broadway at Dorchester St,1218,Subscriber,"(42.344792, -71.044024)","(42.335693, -71.045859)",1.021966,888.0,4.143104,2.081901,2.921959
15,15,2016-01-01 01:20:35,2016-01-01 01:32:45,163,121,Lawn on D,West Broadway at Dorchester St,887,Subscriber,"(42.344792, -71.044024)","(42.335693, -71.045859)",1.021966,730.0,5.039831,2.081901,2.921959
18,18,2016-01-01 01:36:26,2016-01-01 02:00:12,43,36,Rowes Wharf - Atlantic Ave,Boston Public Library - 700 Boylston St.,649,Subscriber,"(42.357143, -71.050699)","(42.349673, -71.077303)",2.343725,1426.0,5.916836,0.701938,1.988436
19,19,2016-01-01 01:38:39,2016-01-01 01:44:13,84,90,CambridgeSide Galleria - CambridgeSide PL at L...,Lechmere Station at Cambridge St / First St,1217,Subscriber,"(42.366981, -71.076472)","(42.370677, -71.076529)",0.410580,334.0,4.425415,1.688254,1.905842
20,20,2016-01-01 01:38:58,2016-01-01 02:00:04,43,36,Rowes Wharf - Atlantic Ave,Boston Public Library - 700 Boylston St.,1303,Subscriber,"(42.357143, -71.050699)","(42.349673, -71.077303)",2.343725,1266.0,6.664619,0.701938,1.988436
21,21,2016-01-01 01:39:05,2016-01-01 02:00:27,43,36,Rowes Wharf - Atlantic Ave,Boston Public Library - 700 Boylston St.,766,Customer,"(42.357143, -71.050699)","(42.349673, -71.077303)",2.343725,1282.0,6.581442,0.701938,1.988436

In [49]:
df.sort_values(['duration_sec'],axis=0, ascending=False,inplace=True,na_position='first')
# df.sort_index(inplace=True)
df.head(5)

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,start_coordinates,end_coordinates,distance_km,duration_sec,speed_kmh,start_distance_center,end_distance_center
236273,236273,2016-05-22 15:28:35,2016-05-22 17:28:35,61,58,Boylston at Fairfield,The Esplanade - Beacon St. at Arlington St.,1020,Customer,"(42.348762, -71.082383)","(42.355596, -71.07278)",1.096487,7200.0,0.548244,2.390088,1.330516
940186,940186,2016-09-28 12:53:33,2016-09-28 14:53:32,104,72,Harvard University Radcliffe Quadrangle at She...,One Broadway / Kendall Sq at Main St / 3rd St,851,Subscriber,"(42.380287, -71.125107)","(42.362613, -71.084105)",3.906393,7199.0,1.953468,5.952773,2.165064
302775,302775,2016-06-04 20:08:53,2016-06-04 22:08:52,128,128,E. Cottage St at Columbia Rd,E. Cottage St at Columbia Rd,96,Customer,"(42.320561, -71.06198)","(42.320561, -71.06198)",0.000000,7199.0,0.000000,4.438653,4.438653
456540,456540,2016-07-03 08:39:02,2016-07-03 10:39:01,90,90,Lechmere Station at Cambridge St / First St,Lechmere Station at Cambridge St / First St,1557,Customer,"(42.370677, -71.076529)","(42.370677, -71.076529)",0.000000,7199.0,0.000000,1.905842,1.905842
125005,125005,2016-04-23 17:04:32,2016-04-23 19:04:31,70,70,Harvard Kennedy School at Bennett St / Eliot St,Harvard Kennedy School at Bennett St / Eliot St,43,Subscriber,"(42.37199165408676, -71.12226963043213)","(42.37199165408676, -71.12226963043213)",0.000000,7199.0,0.000000,5.448850,5.448850

In [50]:
df.sort_values(['distance_km'],axis=0, ascending=False,inplace=True,na_position='first')
# df.sort_index(inplace=True)
df.head(5)

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,start_coordinates,end_coordinates,distance_km,duration_sec,speed_kmh,start_distance_center,end_distance_center
918304,918304,2016-09-24 09:51:49,2016-09-24 11:13:18,146,174,Day Boulevard,Washington St at Brock St,774,Customer,"(42.336448, -71.023739)","(42.34900494405213, -71.1604106426239)",11.348429,4889.0,8.356380,3.879505,8.532756
918306,918306,2016-09-24 09:52:00,2016-09-24 11:13:16,146,174,Day Boulevard,Washington St at Brock St,1307,Customer,"(42.336448, -71.023739)","(42.34900494405213, -71.1604106426239)",11.348429,4876.0,8.378659,3.879505,8.532756
762120,762120,2016-08-27 15:16:35,2016-08-27 16:21:46,119,114,South Boston Library - 646 East Broadway,Teele Square at 239 Holland St,1226,Customer,"(42.335741, -71.03877)","(42.402763, -71.126908)",10.398661,3911.0,9.571766,3.165076,7.371851
1020624,1020624,2016-10-15 15:28:24,2016-10-15 16:35:06,100,93,Davis Square,JFK / UMASS at MBTA Station,309,Customer,"(42.396969, -71.123024)","(42.320494, -71.051122)",10.356217,4002.0,9.315937,6.721374,4.469909
663580,663580,2016-08-09 15:02:15,2016-08-09 16:12:40,203,137,Columbia Rd at Ceylon St,Magoun Square at Trum Field,430,Customer,"(42.309566, -71.072863)","(42.398365, -71.107818)",10.275639,4225.0,8.755574,5.779237,5.883335

In [51]:
# ## calculate artificial distances with the average speed - didn't work so well - now there are trips with 180km distance
# df['new_speed_kmh'] = df['speed_kmh'].replace(0,average_speed)
# # new_average_speed = round(df[df["new_speed_kmh"] != 0]["new_speed_kmh"].mean(),4)
# new_average_speed = round(df["new_speed_kmh"].mean(),4)
# print(new_average_speed)
# df['new_distance_km'] = (df["new_speed_kmh"]*(df["duration_sec"]/3600))
# df.drop(['speed_kmh','distance_km'], axis=1, inplace=True)
# df.rename(columns = {'Duration (Seconds)':'Duration_Seconds'}, inplace = True)

df['speed_kmh'] = df['speed_kmh'].replace(0,average_speed)
# new_average_speed = round(df[df["new_speed_kmh"] != 0]["new_speed_kmh"].mean(),4)
new_average_speed = round(df["speed_kmh"].mean(),4)
print(new_average_speed)
df['distance_km'] = (df["speed_kmh"]*(df["duration_sec"]/3600))

9.8109

In [52]:
df.sort_index(inplace=True)
df.head(5)

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,start_coordinates,end_coordinates,distance_km,duration_sec,speed_kmh,start_distance_center,end_distance_center
0,0,2016-01-01 00:08:07,2016-01-01 00:40:26,36,19,Boston Public Library - 700 Boylston St.,Buswell St. at Park Dr.,1406,Subscriber,"(42.349673, -71.077303)","(42.347241, -71.105301)",2.322721,1939.0,4.312426,1.988436,4.163269
1,1,2016-01-01 00:08:19,2016-01-01 00:40:27,36,19,Boston Public Library - 700 Boylston St.,Buswell St. at Park Dr.,1121,Subscriber,"(42.349673, -71.077303)","(42.347241, -71.105301)",2.322721,1928.0,4.337030,1.988436,4.163269
2,2,2016-01-01 00:10:15,2016-01-01 00:40:29,36,19,Boston Public Library - 700 Boylston St.,Buswell St. at Park Dr.,474,Subscriber,"(42.349673, -71.077303)","(42.347241, -71.105301)",2.322721,1814.0,4.609589,1.988436,4.163269
3,3,2016-01-01 00:10:22,2016-01-01 00:40:11,36,19,Boston Public Library - 700 Boylston St.,Buswell St. at Park Dr.,1504,Subscriber,"(42.349673, -71.077303)","(42.347241, -71.105301)",2.322721,1789.0,4.674004,1.988436,4.163269
4,4,2016-01-01 00:15:36,2016-01-01 00:31:17,36,67,Boston Public Library - 700 Boylston St.,MIT at Mass Ave / Amherst St,913,Customer,"(42.349673, -71.077303)","(42.3581, -71.093198)",1.609739,941.0,6.158407,1.988436,2.911715

In [53]:
def calc_weekday(day):
    return (day).weekday()

In [54]:
def get_hour (ts):
    return ts.hour

In [55]:
# df['start_hour'] = df.apply(lambda row: get_hour(row.start_time), axis=1) #

In [56]:
# df['weekday_start'] = df.apply(lambda row: calc_weekday(row.start_time), axis=1)

In [57]:
# df['weekday_end'] = df.apply(lambda row: calc_weekday(row.end_time), axis=1)

In [58]:
average_distance = round(df[df["distance_km"] != 0]["distance_km"].mean(),4)
print(average_distance)

2.0002

In [59]:
# filepath = Path('C:/Users/rfrei/Desktop/boston_2016_prep_cluster.csv')
# filepath.parent.mkdir(parents=True, exist_ok=True)
# df.to_csv(filepath)